*body{
    padding: 0%;
    margin: 0%;
}



.achor{
    margin: 30px;
}
#navigation-css{
    float: right;
    margin-right: 20px;
    font-size: 20px;
}

#nav-divsion{
    background-image: url('image/bgOne.jpg');
    background-size: 100% 800px;
}
#main{
    height: 800px;
    width: 100%;
}
#navigation-brand{
    padding: 0%;
    margin: 0%;
}
a{
    color: rgb(240, 233, 233);
    font-variant: small-caps;
    margin: 5px;
    
}
a:hover{
    border-radius: 2px;
    -webkit-border-radius: 2px;
   
}

#main-2{
    height: 800px;
    width: 100%;
    background-color: yellow;
}
#about-us{
    height: auto;
    width: 100%;
    background-color: rgb(13, 13, 14);

}
#services{
    height: 650px;
    width: 100%;
    background-color: rgb(13, 13, 14);

}
#Contact-us{
    background-color: wheat;
    height: 30px;
}
#cardGroup{
    padding: 40px;
}
#CardidOne{
    background-color: rgb(0, 0, 0);
    margin: 20px;
}
#card-block-one{
    padding: 0%;
    margin: 0%;
    height: 30px;
    width: 100%;
    background-color: rgb(175, 33, 8);
}
#card-text-one{
    margin-top: 160px;
    color: white;
    text-align: center;
    font-size: 30px;
}
#cardbody{
    background-image: url("image/imageOne.jpg");
    margin-top: 4px;
    background-size: auto 100%;
}
#card-title-one{
    padding: 30px;
    color: white;
    font-size: 40px;
    text-align: center;
}
#card-block-Two{
    height: 30px;
    width: 100%;
    background-color: rgb(204, 7, 243);
}
#card-block-Three{
    padding: 0%;
    margin: 0%;
    height: 30px;
    width: 100%;
    background-color: rgb(237, 240, 63);
}
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
#about-us-css{
    padding: 40px;
    text-align: center;
}
#about-us-css h1{
    color:yellowgreen;
    font-weight: 800;
    text-transform: uppercase;
}
#about-us-css h3{
    color:yellowgreen;
    font-weight: 600;
    text-transform: uppercase;
}
#about-us-css p{
    color: whitesmoke;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#contact-us-col-one{
    margin-left: 30px;
    margin-top: 50px;
    color: whitesmoke;
    font-size: 20px;
    background-color: orange;
    padding: 0%;
    margin: 0%;
}
#contact-us-col-one div{
    margin-top: 50px;
    margin-left: 30px;
}

#contact-us-col-two{
    margin-left: 30px;
    margin-top: 50px;
    color: whitesmoke;
    font-size: 15px;
    background-color: rgb(255, 47, 144);
    padding: 0%;
    margin: 0%;
}
#contact-us-col-two div{
    margin-top: 50px;
    margin-left: 30px;
}


